@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/latomedium.woff") format("woff"), url("../fonts/latomedium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Lato-SemiBold";
  src: url("../fonts/latosemibold.woff") format("woff"), url("../fonts/latosemibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.woff2") format("woff2");
  font-weight: 800;
}
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1448px;
  margin: auto;
  padding: 0 15px 0 15px;
}

.button {
  max-width: 210px;
  padding: 13px 30px;
  border-radius: 15px;
  background: #E79C2B;
  color: #fff;
  border: 1px solid #E79C2B;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.header {
  padding-top: 55px;
  background-color: #323030;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 60px;
}
.header-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-list__item {
  margin-right: 15px;
}
.header-menu-list__item:nth-last-child(1) {
  margin-right: 0;
}
.header-menu-list__link {
  color: #f2f2f2;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  transition: color 0.3s;
}
.header-menu-list__link-active {
  color: #E79C2B;
}
.header-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header-social__link {
  color: #f2f2f2;
  font-weight: 800;
  transition: color 0.3s;
}

.hero {
  padding-top: 150px;
  padding-bottom: 97px;
  background-color: #323030;
  position: relative;
}
.hero-left {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  z-index: 1;
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}
.hero-title__accent {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #DD8F1B;
}
.hero-subtitle {
  max-width: 427px;
  margin-bottom: 30px;
}
.hero-advantages {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 95px;
}
.hero-advantages-item {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  margin-bottom: 15px;
}
.hero-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 1100px;
  background-image: url("/img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-right-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.6000000238;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41) 34.9%, #000 100%);
}
.hero-right-overlay-big {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 330px;
  opacity: 0.6000000238;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.hero-right-wrapper {
  margin-inline-end: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.hero-right-advantages {
  margin-top: 0;
}
.hero-right-advantages .hero-advantages-item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -10px;
  height: 13px;
  width: 3px;
  background-color: #DD8F1B;
  transform: translateY(-50%);
}

@media screen and (min-width: 992px) {
  .header-menu-list__link:hover {
    color: #DD8F1B;
  }
  .header-social__link:hover {
    color: #DD8F1B;
  }
  .button:hover {
    background-color: transparent;
    color: #E79C2B;
    border: 1px solid #E79C2B;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1120px;
  }
  .header-logo {
    height: 90px;
  }
  .header-menu {
    gap: 30px;
  }
  .header-menu-list__link {
    font-size: 18px;
  }
  .hero {
    padding-top: 100px;
  }
  .hero-title {
    font-size: 65px;
  }
  .hero-right {
    width: 700px;
    bottom: -30px;
  }
  .hero-right-wrapper {
    margin-inline-end: 0;
    margin-inline: auto;
    padding: 0 15px 0 15px;
  }
  .hero-advantages {
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 92%;
  }
}