*
  box-sizing: border-box
  font-family: $main-text
  font-weight: 500
a
  text-decoration: none
ul
  list-style: none
p
  font-size: 18px
  color: #fff
h1,h2,h3,h4,h5,h6,p,ul
  margin: 0
  padding: 0
.container
  max-width: 1448px
  margin: auto
  padding: 0 15px 0 15px
.button
  max-width: 210px
  padding: 13px 30px
  border-radius: 15px
  background: $keko
  color: $white
  border: 1px solid $keko
  outline: none
  transition: all .3s
  cursor: pointer
