.hero
  padding-top: 100px
  padding-bottom: 97px
  height: calc(100vh - 200px)
  background-color: $bgc
  position: relative
  &-container
    height: 100%
  &-left
    height: 100%
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-evenly
    max-width: 1040px
    z-index: 1
  &-title
    font-family: $title
    font-size: 70px
    font-weight: 700
    color: $white
    line-height: 88%
    letter-spacing: -2.1px
    margin-bottom: 5px
    &__accent
      font-family: $title
      font-size: 72px
      font-weight: 700
      color: $orange
  &-subtitle
    max-width: 427px
    margin-bottom: 5px
  &-advantages
    width: fit-content
    display: flex
    flex-direction: column
    margin-top: 5px
    &-item
      display: flex
      align-items: center
      gap: 15px
      position: relative
      margin-bottom: 15px
      &:nth-last-child(1)
        margin-bottom: 0
  &-right
    position: absolute
    top: 55px
    right: 0
    bottom: -60px
    display: flex
    justify-content: flex-end
    align-items: flex-end
    padding-bottom: 30px
    width: 1100px
    max-width: 70%
    background-image: url('../img/hero-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: bottom
    &-overlay
      position: absolute
      bottom: 0
      width: 100%
      height: 150px
      opacity: 0.6000000238418579
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.41) 34.90%, #000 100%)
      &-big
        position: absolute
        bottom: 0
        width: 100%
        height: 330px
        opacity: 0.6000000238418579
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%)
      &-circle
        position: absolute
        top: 0
        width: 100%
        height: 483px
        left: -50%
        border-radius: 1367px
        opacity: 0.4000000059604645
        background: #1E1D1D
        filter: blur(47.92010498046875px)
    &-wrapper
      margin-inline-end: 130px
      display: flex
      justify-content: center
      align-items: center
      gap: 150px

    &-advantages
      margin-top: 0
      .hero-advantages-item::before
        position: absolute
        content: ''
        top: 50%
        left: -10px
        height: 13px
        width: 3px
        background-color: $orange
        transform: translateY(-50%)
  &-advantages
    &-mobile
      display: none
      padding-top: 60px
      &-container
        display: flex
        justify-content: space-between
      p
        color: $text-color
